################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/web-movie-crawler/.vs/web-movie-crawler/v15/Server/sqlite3/db.lock
